.root {
  .border {
    pointer-events: none;

    > rect {
      fill: transparent;
      stroke: #666;
    }
  }

  .x-axis {
    /* .domain */
    pointer-events: none;

    > path {
      fill: transparent;
      stroke: transparent;
    }

    > g {
      > line {
        stroke: #ddd;
      }
      > text {
        fill: #666;
      }
    }
  }

  .y-axis {
    /* .domain */
    pointer-events: none;

    > path {
      fill: transparent;
      stroke: transparent;
    }

    > g {
      > line {
        stroke: #ddd;
      }
      > text {
        fill: #666;
      }
    }
  }

  .areas {
    pointer-events: none;

    path {
      opacity: auto;
    }
  }

  .lines {
    pointer-events: none;

    path {
      fill: transparent;
      stroke-width: 2px;
    }
  }

  .serieses {
    pointer-events: none;

    g {
      path.area {
        opacity: auto;
      }

      path.line {
        fill: transparent;
        stroke-width: 2px;
      }
    }
  }
}
